    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://azureorange404.github.io/DangerousWiki/" class="btn">Home</a>
    </header>


    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="row local" align="center">
          <a href="https://azureorange404.github.io/DangerousWiki/docs/FAQ/" title="FAQ">FAQ</a> </br>
          <a href="https://azureorange404.github.io/DangerousWiki/docs/about/" title="About the project">About The Project</a> </br>
	  <p>Check out our new <a href="gemini://dangerouswiki.capsule.town/" title="Capsule">Gemini Capsule>/</a> </p>
	</div> </br>

        <div class="row social" align="center">
          <!-- <a target = "blank" href = 'https://www.twitch.tv/daisychaincosplay'><i class="fab fa-twitch"></i>&emsp;</a> -->
          <a target = "blank" href = 'https://www.youtube.com/channel/UC-DyMEeix9cKCilqOkT69ng'><i class="fab fa-youtube"></i>&emsp;</a>
          <!-- <a target = "blank" href='https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i>&emsp;</a> -->
          <!-- <a target = "blank" href='https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i>&emsp;</a> -->
          <!-- <a target = "blank" href='https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i>&emsp;</a> -->
          <!-- <a target="blank" href="https://social.tchncs.de/@codingcommanders"><i class="fab fa-mastodon"></i>&emsp;</a> -->
          <a target="blank" href="https://discord.gg/C4yY7Pty"> <i class="fab fa-discord"></i></a>
        </div> </br>

        {% if site.github.is_project_page %}
          <div class="row github" align="center">
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            </br>
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
          </div>
        {% endif %}
      </footer>
    </main>
